<% include ./partials/header %>

<a href="/campgrounds/new">Add a new Campground</a>

<% campgrounds.forEach(function(campground){ %>
<div class='container'>
	<p>
		<h3><%= campground.name %></h3>
		<a href="/campgrounds/<%= campground._id %>">Details</a>
	</p>
	<p><%= campground.description %></p>
	<image src="<%= campground.image %>"></image>
</div>

<% }); %>

<% include ./partials/footer %>
